:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 30px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  /* color: currentColor; */
  text-decoration: none;
  margin: 20px;
}

button {
  margin: 5px;
  cursor: pointer;
  width: auto;
  height: 50px;
  font-size: 24px;
  border-radius: 4px;
  font-size: 30px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

input {
  width: auto;
  height: 50px;
  margin: 20px;
  font-size: 30px;
  border-radius: 4px;
}

/* button {
  width: auto;
  height: 60px;
  margin: 20px;
  font-size: 50px;
  border-radius: 4px;
} */
